.ChoiceContainer{
    display:flex;
    align-items: center;
    width:80vw;
    background-color: white;
    margin-top:20px;
    margin-bottom:40px;
    flex-direction: column;
}
#btn{
    width:350px;
    background-color:#664DE5;
    outline: none;
    cursor:pointer;
    border-radius: 4px;
    color:white;
    margin-top:20px;
    display:block;
    font-size: 10px;
    text-transform: none;
}
.text{
    font-size: 14px;
}
.textHeading2{
    color:grey;
    margin-top:0px;
}
.labelText{
    font-size: 15px;
    color:rgb(26, 24, 24)
}
.choice{
    cursor:pointer;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: gray;
    text-align: start;
    padding:10px 20px;
}

.choiceSelect{
    display: flex;
    width:330px;
    margin-left: 18px;;
}
.profile{
    color:rgb(26, 24, 24);
    font-weight: bold;
    font-size: small;
}
.icons{
    color:rgb(86, 86, 247);
    margin-bottom: 10px;
}
.peraText{
    font-size: 12px;
}

.active{
    border-color: #664DE5;
}