
#btn{
    width:350px;
    background-color:rgb(86, 86, 247);
    outline: none;
    cursor:pointer;
    border-radius: 4px;
    color:white;
    margin-top:20px;
    display:block;
    font-size: 10px;
}
.text{
    font-size: 14px;
}
.textHeading2{
    color:grey;
    margin-top:0px;
}
.labelText{
    font-size: 15px;
    color:rgb(26, 24, 24)
}
.choice{
    border:1px solid black;
    cursor:pointer;
    width:40%;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: gray;
    text-align:  center;
    padding:10px 20px;
}
.ChoiceContainer{
    display:flex;
    align-items: center;
    width:90vw;
    background-color: white;
    margin-top:40px;
    margin-bottom:40px;
    flex-direction: column;
}
.choiceSelect{
    display: flex;
    width:400px;
    height: 150px;
}
.profile{
    color:rgb(26, 24, 24);
}
.icons{
    color:rgb(86, 86, 247);
}